# Note: Roxygen doesn't understand constructor functions, so we have to
# delete this file, run roxygenise() and then re-add the `export(HistDat)`
# line each time. See: https://github.com/r-lib/roxygen2/issues/1216

S3method(mean,HistDat)
S3method(median,HistDat)
S3method(sort,HistDat)
export(HistDat)
export(as.ecdf)
exportClasses(HistDat)
exportClasses(HistDatCompatible)
exportMethods("[")
exportMethods(as.ecdf)
exportMethods(as.vector)
exportMethods(c)
exportMethods(length)
exportMethods(max)
exportMethods(mean)
exportMethods(median)
exportMethods(min)
exportMethods(range)
exportMethods(sd)
exportMethods(sort)
exportMethods(sum)
exportMethods(var)
import(methods)
import(stats)
