export(as.ecdf)
export(HistDat)
exportClasses(HistDat)
exportMethods(as.ecdf)
exportMethods(as.vector)
exportMethods(length)
exportMethods(max)
exportMethods(mean)
exportMethods(median)
exportMethods(min)
exportMethods(quantile)
exportMethods(range)
exportMethods(sd)
exportMethods(sum)
exportMethods(var)
import(methods)
import(stats)
